@import "./theme/rose-pine.css";

window {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 12pt;
  color: @text;
  /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); */
  background-color: alpha(@base, 0.85);
}

button{
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  background-color: alpha(@rose, 0.1);
  border-color: alpha(@rose, 0.1);
  border-radius: 10px;
  margin: 10px;
}

#lock {
  background-image: image(url("./icons/lock.png"));
}

#logout {
  background-image: image(url("./icons/logout.png"));
}

#suspend {
  background-image: image(url("./icons/suspend.png"));
}

#hibernate {
  background-image: image(url("./icons/hibernate.png"));
}

#shutdown {
  background-image: image(url("./icons/shutdown.png"));
  background-color: alpha(@love, 0.85);
  border-color: alpha(@love, 0.85);
  color: @base;
}

#reboot {
  background-image: image(url("./icons/reboot.png"));
}
